name: CI - Tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
        python -m pip install pytest pytest-cov
    - name: Running tests with pytest
      run: |
        python -m pytest --cov=./ --cov-report=term-missing
        pytest --cov=./ --cov-branch --cov-report=term-missing
      env:
        DEFAULT_ADMIN_EMAIL: ${{ secrets.DEFAULT_ADMIN_EMAIL }}
        GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
        GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
        LOW_STOCK_THRESHOLD: ${{ secrets.LOW_STOCK_THRESHOLD }}
        SECRET_KEY: ${{ secrets.SECRET_KEY }}
        SQLALCHEMY_DATABASE_URI: ${{ secrets.SQLALCHEMY_DATABASE_URI }}
        SQLALCHEMY_TRACK_MODIFICATIONS: ${{ secrets.SQLALCHEMY_TRACK_MODIFICATIONS }}
        WEEKLY_TASK_TOKEN: ${{ secrets.WEEKLY_TASK_TOKEN }}